<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Publicaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de...</a>
          </li>
        </ul>
        <div class="d-flex">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Registrate!
          </button>
        </div>
      </div>
    </div>
  </nav>
  <div>
    
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Registro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="inputName1" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="inputName1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="inputEmail1" class="form-label">Correo</label>
              <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="inputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword1">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Registar</button>
        </div>
      </div>
    </div>
  </div>
</div>